@model List<Paciente>
@{
    ViewBag.Title = "Busqueda de Pacientes Mediante DPI";
}
<h1>@ViewData["Title"]</h1>

@if (Model != null)
	{
		<table class="table table-hover">

			<thead>

				<tr>

					<td>Nombre Completo</td>
					<td>Numero DPI</td>
					<td>Edad</td>
					<td>Telefono</td>
					<td>Ultima Consulta</td>
					<td>Proxima Consulta</td>
					<td>Tratamiento</td>
					<td>Modalidad</td>
					<td>Editar Fecha de Proxima Consulta</td>

				</tr>

			</thead>

			@foreach (var PacienteActual in Model)

			{
				<tr>
					<td>@PacienteActual.Nombre_Comp</td>
					<td>@PacienteActual.Num_DPI</td>
					<td>@PacienteActual.Edad</td>
					<td>@PacienteActual.Telefono</td>
					<td>@PacienteActual.UltimaConsulta</td>
					<td>@PacienteActual.ProxConsulta</td>
					<td>@PacienteActual.Tratamiento</td>
					<td>@PacienteActual.modalidad</td>
				<td>
					<a asp-action="EditarFecha" asp-controller="Busqueda" ASP class="btn btn-primary btn-sm">Editar</a>
				</td>
				</tr>

			}
		</table>

	}
	
<form method="post" action="@Url.Action("BuscarDPI", "Busqueda")">
	<input type="text" id="DPI" name="DPI" />
	<input type="hidden" id="buscadoOculto" name="DPI" value="" />
	<button type="submit" id="Btn1" name="Btn1">Buscar por DPI</button>
</form>
<script>
    $(document).ready(function () {
        $('#Btn1').click(function () {
            $('#buscadoOculto').val($('#buscado').val());
        });
    });
</script>